body {
    font-family: prompt;
}

.hidden {
    display: none;
}

/* ปรับระยะข้อความ */
.responsive-text {
    max-width: 550px;
    word-break: break-word;
}

@media (max-width: 768px) {
    .responsive-text {
        max-width: 300px;
    }
}